.container {
    width: 70%;
    margin: 50px auto;
    padding: 50px auto;
    background-color: #f5f5dd;
    box-shadow: 10px 10px #678466 ;
    border-radius: 15px;
    display: block;
}
.mid{
    padding: 50px ;
}
.flex-container {
    display: flex;
    
}
.yt{
    width: 80px;
    border-radius: 50%;
}
.gm{
    width: 80px;
    border-radius: 50%;
}
.github{
    width: 80px;
    border-radius: 50%;
}
  
.flex-container > div {
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    
}
img{
    transform:scale(1,1);
    transition: all 1s ease-out
}
img:hover{transform:scale(1.2,1.2);}
